img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

body {
    background-color: mediumslateblue;
    font-family:'trebuchet MS';
    color: antiquewhite;
    text-align: center;
}

a{background-color: antiquewhite;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 10px;
    color: gray;
}